<a <%= "href=#popup_#{locals[:item].name.downcase}" unless locals[:condition] == :only_display %> >
  <div class="<%= "card-body #{locals[:item].name.downcase}" %>" data-controller="games" data-games-target="popup">
    <div class='card-wraper' <%= locals[:with_action] && "data-action=click->games#chooseItem" %>>
      <div class='image'>
        <%= show_svg(locals[:item].image_url) %>
      </div>
      <div class='item_name'>
        <%= locals[:item_name] || locals[:item].name %>
      </div>
    </div>
    <%= render('/games/waiting_popup', locals: { item: locals[:item] }) unless locals[:condition] == :only_display %>
  </div>
</a>
